Flow.txt
[{"id":"f64edfdc.d851e","type":"tab","label":"Light"},{"id":"db892776.e28468","type":"mqtt out","z":"f64edfdc.d851e","name":"LIGHT_MAIN","topic":"LAB/LIGHT/MAIN/relay/0","qos":"1","retain":"false","broker":"11b3d0e7.b4bdef","x":1490,"y":50,"wires":[]},{"id":"c81195cd.329698","type":"mqtt in","z":"f64edfdc.d851e","name":"PIR_MAIN","topic":"LAB/PIR/MAIN/relay/0","qos":"1","broker":"11b3d0e7.b4bdef","x":249,"y":292,"wires":[["68404a1.579cdb4","882b308d.2f5e","4bce79f6.970f38","47ab47bc.79d608","9bba38fe.5bfc48","83790740.c56248"]]},{"id":"3b14bca1.e0f054","type":"trigger","z":"f64edfdc.d851e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"Pulse","x":945,"y":302,"wires":[["a02f2b5f.d89fd8","ec87000f.f5755"]]},{"id":"23741f9e.79c0b","type":"ui_button","z":"f64edfdc.d851e","name":"Off","group":"6ebda08d.43d53","order":1,"width":0,"height":0,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"LAB/OVERRIDE/","x":907,"y":20,"wires":[["ec87000f.f5755"]]},{"id":"2f24acef.c48c74","type":"ui_button","z":"f64edfdc.d851e","name":"On","group":"6ebda08d.43d53","order":2,"width":0,"height":0,"label":"ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"LAB/OVERRIDE/","x":912,"y":68,"wires":[["ec87000f.f5755"]]},{"id":"421b8492.451f3c","type":"mqtt in","z":"f64edfdc.d851e","name":"PIR_TABLE","topic":"LAB/PIR/TABLE/relay/0","qos":"1","broker":"11b3d0e7.b4bdef","x":256,"y":364,"wires":[["4cb4e0e3.cac1c","d090b1b6.2c258","dceea436.5120c8","fa6f9fa4.c6785","9bba38fe.5bfc48"]]},{"id":"9b3c491c.b2cf58","type":"mqtt out","z":"f64edfdc.d851e","name":"LIGHT_TABLE","topic":"LAB/LIGHT/BENCH/relay/0","qos":"1","retain":"true","broker":"11b3d0e7.b4bdef","x":1513,"y":467,"wires":[]},{"id":"75a43649.357bd8","type":"trigger","z":"f64edfdc.d851e","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":true,"units":"min","reset":"","name":"Pulse","x":961,"y":432,"wires":[["af5d8c08.3af61","dc19aac4.3b0558"]]},{"id":"89212d66.918ee","type":"ui_button","z":"f64edfdc.d851e","name":"Off","group":"d10a7fd6.cd8b4","order":1,"width":0,"height":0,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"LAB/OVERRIDE/","x":908,"y":639,"wires":[["af5d8c08.3af61"]]},{"id":"4789b3b3.3a466c","type":"ui_button","z":"f64edfdc.d851e","name":"On","group":"d10a7fd6.cd8b4","order":2,"width":0,"height":0,"label":"ON","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"LAB/OVERRIDE/","x":911,"y":677,"wires":[["af5d8c08.3af61"]]},{"id":"4cb4e0e3.cac1c","type":"switch","z":"f64edfdc.d851e","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":640,"y":362,"wires":[["75a43649.357bd8","3b14bca1.e0f054"]]},{"id":"8f5da60e.c211c8","type":"debug","z":"f64edfdc.d851e","name":"","active":false,"console":"false","complete":"false","x":804,"y":212,"wires":[]},{"id":"68404a1.579cdb4","type":"switch","z":"f64edfdc.d851e","name":"ON","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":644,"y":289,"wires":[["3b14bca1.e0f054","8f5da60e.c211c8"],[]]},{"id":"5e91047e.9157cc","type":"sqlite","z":"f64edfdc.d851e","mydb":"1d38ff1b.df4d71","name":"IOT.db","x":738.5,"y":988,"wires":[[]]},{"id":"9bba38fe.5bfc48","type":"function","z":"f64edfdc.d851e","name":"","func":"var overRideMain = global.get('overrideMain');\nvar overRideTable = global.get('overrideTable');\n\n\n// Update the status with current timestamp\nvar now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\nvar dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\nvar hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\nvar mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\nvar ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\nvar timeFormat= dd + \".\" + mm + \".\" + yyyy + \" \" + hh + \":\" + mmm + \":\" + ss;\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Last update: \"+timeFormat});    \n\nvar top=msg.topic.toString();\nvar pay=msg.payload.toString();\n\n\nmsg.topic = \"INSERT INTO Sonoff (Topic,timeStamp,payload,overRideMain,overRideTable) VALUES (?,?,?,?,?)\";\nmsg.payload = [top,timeFormat,pay, overRideMain,overRideTable];\nreturn msg;","outputs":1,"noerr":0,"x":502,"y":971,"wires":[["5e91047e.9157cc"]]},{"id":"ebcb48d7.2c0288","type":"mqtt in","z":"f64edfdc.d851e","name":"ALEXA","topic":"LAB/PIR/MAIN/alexa/1","qos":"1","broker":"11b3d0e7.b4bdef","x":909,"y":160,"wires":[["ec87000f.f5755"]]},{"id":"ec87000f.f5755","type":"function","z":"f64edfdc.d851e","name":"Override","func":"var overrideMain = global.get('overrideMain');\nif (msg.topic.includes(\"OVERRIDE\") || msg.topic.includes(\"alexa\"))  {\n    if (msg.payload==\"1\") overrideMain=\"ON\";\n    if (msg.payload==\"0\") overrideMain=\"OFF\";\n    if (msg.payload==\"A\") overrideMain=\"AUTO\";\n}\nglobal.set('overrideMain',overrideMain);\n\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Override: \"+overrideMain});    \n\n\nif (overrideMain==\"ON\") msg.payload=\"1\"\nif (overrideMain==\"OFF\") msg.payload=\"0\"\nreturn msg;","outputs":1,"noerr":0,"x":1309,"y":122,"wires":[["db892776.e28468","5c020e83.66fa5"]]},{"id":"af5d8c08.3af61","type":"function","z":"f64edfdc.d851e","name":"Override","func":"var over = global.get('overrideTable');\nif (msg.topic.includes(\"OVERRIDE\") || msg.topic.includes(\"alexa\")) {\n    if (msg.payload==\"1\") overrideTable=\"ON\";\n    if (msg.payload==\"0\") overrideTable=\"OFF\";\n    if (msg.payload==\"A\") overrideTable=\"AUTO\";\n}\nglobal.set('overrideTable',overrideTable);\n\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Override: \"+overrideTable});    \n\n\nif (over==\"ON\") msg.payload=\"1\"\nif (over==\"OFF\") msg.payload=\"0\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":521,"wires":[["9b3c491c.b2cf58"]]},{"id":"8858d792.b04b48","type":"ui_button","z":"f64edfdc.d851e","name":"Auto","group":"d10a7fd6.cd8b4","order":1,"width":0,"height":0,"label":"AUTO","color":"","bgcolor":"","icon":"","payload":"A","payloadType":"str","topic":"LAB/OVERRIDE/","x":910,"y":715,"wires":[["af5d8c08.3af61"]]},{"id":"2ee6a115.a0cd0e","type":"ui_button","z":"f64edfdc.d851e","name":"Auto","group":"6ebda08d.43d53","order":1,"width":0,"height":0,"label":"AUTO","color":"","bgcolor":"","icon":"","payload":"A","payloadType":"str","topic":"LAB/OVERRIDE/","x":912,"y":118,"wires":[["ec87000f.f5755"]]},{"id":"bd145283.deab","type":"ui_audio","z":"f64edfdc.d851e","name":"","group":"6ebda08d.43d53","voice":"3","always":"","x":524,"y":581,"wires":[]},{"id":"d090b1b6.2c258","type":"function","z":"f64edfdc.d851e","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":538,"y":454,"wires":[[]]},{"id":"dceea436.5120c8","type":"function","z":"f64edfdc.d851e","name":"","func":"if (msg.payload==\"1\") msg.payload=\"james, please switch the bench light on\"\nif (msg.payload==\"0\") msg.payload=\"james, please switch the bench light off\"\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":496,"wires":[[]]},{"id":"882b308d.2f5e","type":"function","z":"f64edfdc.d851e","name":"","func":"if (msg.payload==\"1\") msg.payload=\"ich kriege mein Licht eingeschaltet\"\nif (msg.payload==\"0\") msg.payload=\"ich kriege mein Licht ausgeschaltet\"\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":195,"wires":[[]]},{"id":"c16816c8.7b4ba8","type":"ui_audio","z":"f64edfdc.d851e","name":"","group":"6ebda08d.43d53","voice":"1","always":"","x":577,"y":129,"wires":[]},{"id":"38055919.0b8ac6","type":"mqtt in","z":"f64edfdc.d851e","name":"ALEXA","topic":"LAB/PIR/TABLE/alexa/1","qos":"1","broker":"11b3d0e7.b4bdef","x":911,"y":762,"wires":[["af5d8c08.3af61"]]},{"id":"fa6f9fa4.c6785","type":"debug","z":"f64edfdc.d851e","name":"","active":true,"console":"false","complete":"false","x":616,"y":542,"wires":[]},{"id":"4bce79f6.970f38","type":"function","z":"f64edfdc.d851e","name":"Status","func":"if (msg.payload==\"0\") node.status({fill:\"red\",shape:\"ring\",text:msg.payload});\nelse node.status({fill:\"green\",shape:\"ring\",text:msg.payload});    \nreturn msg;","outputs":1,"noerr":0,"x":515,"y":225,"wires":[[]]},{"id":"5c020e83.66fa5","type":"debug","z":"f64edfdc.d851e","name":"","active":true,"console":"false","complete":"false","x":1498,"y":175,"wires":[]},{"id":"c1762992.d424d8","type":"debug","z":"f64edfdc.d851e","name":"","active":false,"console":"false","complete":"true","x":1459,"y":637,"wires":[]},{"id":"dc19aac4.3b0558","type":"debug","z":"f64edfdc.d851e","name":"","active":false,"console":"false","complete":"false","x":1185,"y":417,"wires":[]},{"id":"a02f2b5f.d89fd8","type":"debug","z":"f64edfdc.d851e","name":"","active":true,"console":"false","complete":"false","x":1174,"y":331,"wires":[]},{"id":"47ab47bc.79d608","type":"function","z":"f64edfdc.d851e","name":"","func":"var overRide = global.get('overrideMain');\n\nvar newMsg=msg.payload\nnode.status({fill:\"blue\",shape:\"ring\",text:\"Over: \"+overRide});    \nreturn msg","outputs":1,"noerr":0,"x":1008,"y":515,"wires":[["c1762992.d424d8"]]},{"id":"31f9e1c.9442e1e","type":"debug","z":"f64edfdc.d851e","name":"","active":true,"console":"false","complete":"true","x":643,"y":324,"wires":[]},{"id":"83790740.c56248","type":"function","z":"f64edfdc.d851e","name":"","func":"msg.payload=msg.topic\nnode.status({fill:\"blue\",shape:\"ring\",text:\"PL: \"+msg.topic});    \n\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":319,"wires":[["31f9e1c.9442e1e"]]},{"id":"11b3d0e7.b4bdef","type":"mqtt-broker","z":"f64edfdc.d851e","broker":"localhost","port":"1883","clientid":"mosquitto","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"120","cleansession":true,"willTopic":"Will","willQos":"0","willRetain":"false","willPayload":"Will","birthTopic":"Bitth","birthQos":"0","birthRetain":"false","birthPayload":"Birth"},{"id":"6ebda08d.43d53","type":"ui_group","z":"","name":"Main Lamp","tab":"f9a92b0d.899528","order":1,"disp":true,"width":"6"},{"id":"d10a7fd6.cd8b4","type":"ui_group","z":"","name":"Bench Light","tab":"f9a92b0d.899528","order":2,"disp":true,"width":"6"},{"id":"1d38ff1b.df4d71","type":"sqlitedb","z":"","db":"/home/pi/dbs/iot.sav"},{"id":"f9a92b0d.899528","type":"ui_tab","z":"","name":"LAB","icon":"dashboard","order":1}]